  <mat-card  fxLayout="column" fxLayoutAlign=" center" fxFlex="620px" class="center" >
    <mat-card-header >
      <h1 >{{header}}</h1></mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <p>
      {{desc}}
    </p>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="toogle_spinner()">{{left_button}}</button>
    </mat-card-actions>
    <mat-progress-spinner *ngIf="running" mode="determinate" [value]="progress" color="accent"></mat-progress-spinner>

  </mat-card>
