<section>
  <form #form="ngForm" (ngSubmit)="onSumbit(form)" fxLayout="column" fxLayoutAlign="center center">
<!--    name-->
    <mat-form-field >
      <mat-label>Name</mat-label>
      <input matInput name="name" ngModel placeholder="Name">
    </mat-form-field>

<!--    email-->
    <mat-form-field >
      <input type="email" matInput name="email" email ngModel placeholder="Email" required>
    </mat-form-field>

<!--    birth date-->
    <mat-form-field>
    <input matInput  [matDatepicker]="datebirth"  name="birth" ngModel>
    <mat-datepicker-toggle [for]="datebirth"></mat-datepicker-toggle>
    <mat-datepicker #datebirth></mat-datepicker>
    </mat-form-field>
<!--    agree to condition-->
    <mat-checkbox required ngModel name="agree">Agree to the terms</mat-checkbox>

  <button mat-raised-button type="submit" [disabled]="form.invalid">SignUp</button>
  </form>
</section>

