<mat-sidenav-container class="sidenav-container">
<!--  inject sidenav-->
  <mat-sidenav #sidenav class="sidenav">
    <!--the child want to let know of the parent when a link  button is being click so the parent can close the sidenav-->
    <app-sidenav (linkEmitter)="sidenav.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
<!--the child want to let know of the parent when the menu button is being click-->
    <app-toolbar (menuEvent)="sidenav.toggle()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


