<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="informSideNav()" fxHide.gt-xs> <mat-icon>menu</mat-icon></button>
  </div>
  <ul>
    <li>
      <a><mat-icon routerLink="/welcome">home</mat-icon></a>
    </li>
  </ul>
  <!--      right items-->
  <div fxFlex fxHide.xs>

    <ul fxLayout="row" fxLayoutGap="10px "   fxLayoutAlign="end" >
      <li >
        <a routerLink="/training" >Training</a>
        <!--      show only if logout => if isInside-->

        <a routerLink="/login" *ngIf="!isInside" >Login</a>
        <a routerLink="/signup" (click)="disconnect()" >Signup</a>

      </li>
<!--      show only if login => if isInside-->
      <li class="move_down" *ngIf="isInside"  (click)="disconnect()">      <a>      <mat-icon class="material-symbols-outlined">login</mat-icon></a></li>


    </ul>

  </div>
</mat-toolbar>
<!--    end of toolbar-->
