ul {
  list-style-type: none;
  padding: 0;
}

li a {
  color: white;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: deeppink;
}
.active {
  color: #04AA6D;
}


